.body {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  z-index: 5;
  min-height: calc(100vh - 70px);
}

.bottom {
  height: 50px;
}

.header {
  z-index: 10;
  position: relative;
}

@media (max-width: 1340px) {
  .container {
    width: 80%;
  }
}
