.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  box-shadow: 0px 0px 50px 20px rgba(128, 148, 255, 0.5);
  border-radius: 20px;
  padding: 25px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.container p {
  font-size: 1.2rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.learningButton {
  font-weight: bold;
  color: #f4f4f4;
  padding: 10px;
  margin: 5px;
  width: 100%;
  border: 0;
  background-color: #8093ff;
  border-radius: 20px;
}

.crowdfundButton {
  font-weight: bold;
  color: #f4f4f4;
  background-color: #1d1d1d;
  padding: 10px;
  margin: 5px;
  width: 100%;
  border: 2px solid #8093ff;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
}
